html, body {
    height: 100%;
}
body > * {
    min-width: 480px;
}
.media{
    margin-top: 0;
}
.icon{
    width: 100px;
}
.popover{
    max-width: 100%;
}
.wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}
.footer{
    height: 80px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px; 
}
.wrap > .container-fluid{
    min-width: 480px;
}
.wrap > .container{
    padding: 70px 15px 20px;
    max-width: 960px;
}
.single-unit{
    margin-bottom: 10px;
}

.modal img{
    max-width: 100%;
}

.form-group >[class*="col-"] + .ws-errorbox {
    padding: 0 15px;
}