html, body {
    height: 100%;
}
.media{
    margin-top: 0;
}
.icon{
    width: 100px;
}
.wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer{
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px; 
}
.wrap > .container-fluid{
    min-width: 480px;
}
.wrap > .container{
    padding: 70px 15px 20px;
    min-width: 480px;
    max-width: 960px;
}
.single-unit{
    margin-bottom: 10px;
}