{% extends 'index.twig' %}

{% block content %}
    <h1>Password Reset</h1>
    <p>Type your email, to get token for reset password</p>
    <form action="{{ path_for('web.user.password.reset.send') }}" method="post">
        <div>
            <label for="request-email">Email:</label>
            <input id="request-email" name="email" type="email" value="{{ form.email }}" required>
            <p>{{ errors.email | join }}</p>
        </div>
        <button>Send</button>
    </form>
{% endblock %}