{% extends 'index.twig' %}

{% block title %}Sign In | Aigisu{% endblock %}

{% block content %}
    <section>
        <h1>Sign In</h1>
        <form action="{{ path_for('web.site.signin') }}" method="post">
            <div>
                <label for="login-email">Email:</label>
                <input id="login-email" name="email" type="email" value="{{ form.email }}" required>
            </div>
            <div>
                <label for="login-password">Password:</label>
                <input id="login-password" name="password" value="{{ form.password }}" type="password" required>
            </div>
            <button>Sign In</button>
        </form>
    </section>
{% endblock %}
