# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# ignore apache config
.htaccess

# ignore ide helper
/laravel-ide-helper
_ide_helper.php

# web folder
web/css/*
web/fonts/*
web/img/*
web/js/*
