@import 'layout/footer.scss';
@import "helpers/reset";
@import url('https://fonts.googleapis.com/css?family=Lato|Tangerine:700');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, .87);
}
