.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.unit-navigation a {
  &:hover .fa {
    transform: scale(1);
  }
  .fa {
    font-size: 2em;
    transform: scale(.7);
    transition: transform .1s linear;
    &.fa-heart {
      color: #ff0000;
    }
    &.fa-user {
      color: #008000;
    }
  }
}

nav ul, nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .unit-container {
    justify-content: flex-end;
    display: flex;
    width: 12rem;
    flex-direction: column-reverse;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .unit-navigation {
    display: flex;
    justify-content: center;
  }
}

