@import "elements/spinner";

.unit-navigation a {
  &:hover .fa {
    transform: scale(1);
  }
  .fa {
    font-size: 2em;
    transform: scale(.7);
    transition: transform .1s linear;
    &.fa-heart {
      color: #ff0000;
    }
    &.fa-user {
      color: #008000;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .unit-container {
    justify-content: flex-end;
    display: flex;
    flex-basis: 12rem;
    flex-direction: column-reverse;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-img {
      height: 6rem;
      width: 6rem;
      background: no-repeat center/contain;
    }
  }
  .unit-navigation {
    display: flex;
    justify-content: center;
  }
}

