@import "elements/spinner";

.unit-navigation a {
  &:hover .fa {
    transform: scale(1);
  }
  .fa {
    font-size: 2em;
    transform: scale(.7);
    transition: transform .1s linear;
    &.fa-heart {
      color: #ff0000;
    }
    &.fa-user {
      color: #008000;
    }
  }
}

nav ul, nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-img {
  height: 100px;
  width: auto;
  background: no-repeat center/contain;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .unit-container {
    justify-content: flex-end;
    display: flex;
    width: 12rem;
    flex-direction: column-reverse;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .unit-navigation {
    display: flex;
    justify-content: center;
  }
}

