<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Aigisu{% endblock %}</title>
    {% include 'stylesheets.twig' %}
    {% block stylesheets %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <section class="layout-header">
        <header>
            {% include 'navbar.twig' %}
        </header>
    </section>
    <section class="layout-content">
        {{ dump(flash('flash')) }}
        {% if flash('flash') %}
            <section class="messages">
                {% for message in flash('flash') %}
                    <div class="messages {{ message.type }}">{{ message.value }}</div>
                {% endfor %}
            </section>
        {% endif %}
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </section>
</div>
{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}
{% include 'scripts.twig' %}
{% block scripts %}{% endblock %}
</body>
</html>
