<section class="filters">
    <div>
        <label for="filter-rarities">Rarities</label>
        <select id="filter-rarities" class="form-control">
            <option value="all">all</option>
            <option value="black">black</option>
            <option value="sapphire">sapphire</option>
            <option value="platinum">platinum</option>
            <option value="gold">gold</option>
            <option value="silver">silver</option>
            <option value="bronze">bronze</option>
            <option value="iron">iron</option>
        </select>
    </div>
    <div>
        <label for="filter-name">Name</label>
        <input type="text" id="filter-name" class="form-control">
    </div>
    <div>
        <label for="filter-missing-cg">Missing CG</label>
        <input type="checkbox" id="filter-missing-cg">
    </div>
</section>