<section class="filters">
    <div>
        <label>Rarities</label>
        <div id="filter-rarities" class="form-control">
            <label><input type="radio" name="filter-rarities" value="all" checked>all</label>
            <label><input type="radio" name="filter-rarities" value="black">black</label>
            <label><input type="radio" name="filter-rarities" value="sapphire">sapphire</label>
            <label><input type="radio" name="filter-rarities" value="platinum">platinum</label>
            <label><input type="radio" name="filter-rarities" value="gold">gold</label>
            <label><input type="radio" name="filter-rarities" value="silver">silver</label>
            <label><input type="radio" name="filter-rarities" value="bronze">bronze</label>
            <label><input type="radio" name="filter-rarities" value="iron">iron</label>
        </div>
    </div>
    <div>
        <label for="filter-name">Name</label>
        <input type="text" id="filter-name" class="form-control">
    </div>
    <div>
        <label for="filter-missing-cg">Missing CG</label>
        <input type="checkbox" id="filter-missing-cg">
    </div>
    <div>
        <label>Server</label>
        <div id="filter-server" class="form-control">
            <label><input type="radio" name="filter-server" value="all" checked>all</label>
            <label><input type="radio" name="filter-server" value="dmm">DMM</label>
            <label><input type="radio" name="filter-server" value="nutaku">nutaku</label>
        </div>
    </div>
</section>