<aside class="aside-options">
    <div class="toggle-button-container">
        <button class="toggle-button btn btn-default">
            <span class="sr-only">Toggle options</span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
    <div class="aside-options-container">
        {% include 'unit/options/filters.twig' %}
    </div>
</aside>