<section class="sort">
    <label for="sort-units">Sort units by</label>
    <select id="sort-units">
        <option value="crated_at">Created at</option>
        <option value="name">Name</option>
        <option value="rarity">Rarity</option>
    </select>
</section>