{% extends 'mail.twig' %}

{% block content %}
    <p>Someone ask to generate new password for account:</p>
    <p>
        Website: {{ base_url() }}<br>
        Username: {{ user.name }}<br>
    </p>

    <p>Ignore this email if that wasn't you.</p>

    <p>This is token required for reset password: {{ user.recovery_hash | url_encode }} </p>
{% endblock %}
