{% extends 'index.twig' %}

{% block title %}Units | Aigisu{% endblock %}

{% block stylesheets %}
    <link href="{{ base_url() }}/dist/units.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        {% include 'unit/options/index.twig' %}
        <section id="units-index" class="grid text-center">
            {% for unit in units %}
                {% include 'unit/single.twig' %}
            {% endfor %}
        </section>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.js"
            integrity="sha256-ROy/F1BMPc0R/34gIOKiQvqvlNjbN7xLa+4oymrUdT4=" crossorigin="anonymous"></script>
    <script>
        "use strict";
        !function () {
            new Blazy();
        }();
    </script>
{% endblock %}
